.darkBG {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    width: 450px;
    background: transparent;
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: translateY(-2000px);
    transition: .5s all ease;
    gap: 20px;
}
.modal.show{
    transform: translateY(0px);
    transition: .5s all ease;
}
.modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 70px;
    color: #a71616;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.modalActions {
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.restartBtn {
    margin-top: 20px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: #a71616;
    transition: all 0.25s ease;
}

.restartBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #b31818;
}

@media(max-width: 480px){
    .modalContent{
        font-size: 45px;
    }
}

@media(max-width: 460px){
    .modalContent{
        font-size: 40px;
    }
}

@media(max-width: 390px){
    .modalContent{
        font-size: 50px;
    }
    .restartBtn{
        padding: 10px 20px;
    }
}